
{% extends 'profiles/layout.html' %}


{% block customScripts %}


<script type="text/javascript">
$.getScript("/static/js/charting.js");

</script>



<style> type="text/css">
  div.img-div{
/*    height:50px;
    width:50px;
    overflow:hidden;
    border-radius:50%;*/
    /*float: left;*/
}

.img-div img{
    -webkit-transform:translate(-50%);
    /*margin-left:100px;*/
}

.circle-image{
/*    width:50px;
    height:50px;
    border-radius:50%;
    background-image:url("http://placekitten.com/g/200/400");
    display:block;
    background-position-y:25% 
    margin-right: -50px;*/

    display: inline-block;
    /*float: right;*/
    margin-top: 0;
    margin-bottom: 5px;
    -khtml-border-radius: 100%;
    border-radius: 100%;
    width: 75px;
    height: 75px;
}

.profile-badge{
      background-color: #dc0d17;
    background-image: linear-gradient(#fa3c45, #dc0d17);
    color: #fff;
    padding: 1px 3px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
}

.content-loader tr td {
    white-space: nowrap;
}

</style>


{% endblock customScripts %}

{% block custombody_content %}

<div class="container">
<br>


{% if DEBUG %}

  <table border="1" style="width:100%">
    {% for key, value in expert.items %}

    <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
    </tr>
    {% endfor %}
  </table>

{% endif %}

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="page-header text-center">
      <h1>My Trainees</h1>
    </div>  
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row">
  <div class="col-sm-10">
    <table class="table table-hover" >
      <thead>
        <tr>
          <th></th>
          <th>SomeStat</th>
          <th>MaxHR</th>

        </tr>
      </thead>
      <tbody>
      {% for trainee in expert.traineesDashboardStats %}
        <tr>
            <th scope="row">
              <a href="#">
                <div class="img-div">
                  <img class="circle-image" src="{{trainee.profile_picture_url}}">
                </div>
                
                <span class="badge profile-badge">{{trainee.messageFlag}}</span>
              </a>
            </th>
            <td>{{trainee.someStat}}</td>
            <td>{{trainee.maxHR}}</td>


        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-sm-2">
    <input class="btn btn-block btn-primary" type="button" id="addTraineeBtn" name="addTraineeBtn" value="Add Trainee"></input>
  </div>
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="page-header text-center">
      <h1>Groups</h1>
    </div>  
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row">
  <div class="col-sm-10">

    {% for group in expert.groupDashboardStats %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="img-div">
                  <img class="circle-image" src="{{group.group__picture}}">
            </div>
            <span class="badge profile-badge">{{group.messageFlag}}</span>
            <h3 class="panel-title">{{group.group__name}}</h3>
          </div>
          <div class="panel-body">

            <p>{{group.group__visibility}}</p>
            <p>{{group.someStat}}</p>
            <div class="chart-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            
            <br>
            <!-- Accordian style show athletes -->
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseExample">
              Show Members
            </button>
            <div class="collapse" id="collapseExample{{ forloop.counter }}">
              <div class="well">
                {% for member in group.groupMembers %}
                <div class="img-div">
                  <img class="circle-image" src="{{member.user__profile_picture_url}}">
                </div>
                  <p>{{ member.user__name }}</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
    {% endfor %}

    <table class="table table-hover" >
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Visibility</th>
          <th>SomeStat</th>

        </tr>
      </thead>
      <tbody>
      {% for group in expert.groupDashboardStats %}
        <tr>
            <th scope="row">
              <a href="#">
                <div class="img-div">
                  <img class="circle-image" src="{{group.group__picture}}">
                </div>
                
                

              </a>
            </th>
            <td>{{group.group__name}}</td>
            <td>{{group.group__visibility}}</td>
            <td>{{group.someStat}}</td>


        </tr>
      {% endfor %}
      </tbody>
    </table>



  </div>
  <div class="col-sm-2">
    <input class="btn btn-block btn-primary" type="button" id="addTraineeBtn" name="addGroupBtn" value="Add Group"></input>
  </div>
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="page-header text-center">
      <h1>My Hired Experts</h1>
    </div>  
  </div>
  <div class="col-sm-2"></div>
</div>



<div class="row">
  <div class="col-sm-10">
    <table class="table table-hover" >
      <thead>
        <tr>
          <th></th>
          <th>name</th>
          <th>No. of client</th>

        </tr>
      </thead>
      <tbody>
      {% for i in expert.subexpertDashboardStats %}
        <tr>
            <th scope="row">
              <a href="#">
                <div class="img-div">
                  <img class="circle-image" src="{{i.profile_picture_url}}">
                </div>
                
                <span class="badge profile-badge">{{i.messageFlag}}</span>
              </a>
            </th>
            <td>{{i.name}}</td>
            <td>{{i.clientNum}}</td>


        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-sm-2">
    <input class="btn btn-block btn-primary" type="button" id="addTraineeBtn" name="addTraineeBtn" value="Manage Experts"></input>
  </div>
</div>






{% endblock custombody_content %}