<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>First Code Academy</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body style="background-color: #ffffff; color: #556270;">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">

        <img src="https://s3-ap-southeast-1.amazonaws.com/fcanectar/assets/fcalogosquare.png"
          width="200" height="200" style="padding:0 0 0px" class="CToWUd">
      </div>
      <div class="col-md-4"></div>

    </div>

  {% block custombody_content %}
  {% endblock custombody_content %}
  </div>
</body>