{% extends 'profiles/fca_layout.html' %}
{% block title %}Password reset complete{% endblock %}

{% block custombody_content %}
  <br>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3 style="text-align: center;">Reset Password</h3>
      <br>
      <p>Your new password has been set.  You will be redirected to your dashboard...</p>
      <p><a class="btn btn-success" href="{{ redirectURL }}?t={{ token }}">Go to Dashboard</a></p>
    </div>
    <div class="col-md-4"></div>
  </div>

  <script type="text/javascript">
    // make token accessible on domain level
    // but it doesn't work because backend API is hosted on diff server than frontend which is on S3 
    // document.cookie = 'token={{ token }};path=/';
    function getCookie(cname) {
      var name = cname + "=";
      var ca = document.cookie.split(';');
      for(var i = 0; i <ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') {
              c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
              return c.substring(name.length,c.length);
          }
      }
      return "";
    }

    var tokenCookie = getCookie('token')

    window.setTimeout(function(){

        // Move to a new location or you can do something else
        // window.location.href = "{{ redirectURL }}" + '?t=' + '{{ token }}';
        window.location.href = "{{ redirectURL }}" + '?t=' + tokenCookie;

    }, 3000);

  </script>

{% endblock %}