{% extends 'profiles/fca_layout.html' %}
{% block title %}Setting New password{% endblock %}

{% block custombody_content %}
    {% if validlink %}
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">

                <h3 style="text-align: center;">Reset Password</h3>
                <br>

                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>

                    <div class="form-group">
                        <label for="id_new_password1">New Password</label>
                        {{ form.new_password1 }}
                    </div>
                    {{ form.new_password1.errors }}
                    <div class="form-group">
                        <label for="id_new_password2">Confirm Password</label>
                        {{ form.new_password2 }}
                    </div>
                    {{ form.new_password2.errors }}

                    <button class="btn btn-success" type="submit">
                        Change
                    </button>
                </form>
                
            </div>
            <div class="col-md-4"></div>
        </div>

        <script type="text/javascript">
        
        (function() {
            // your page initialization code here
            // the DOM will be available here
            // set cookies here for token
            document.cookie = 'token={{ loginToken }};path=/'


            var pw1 = document.getElementById("id_new_password1");
            pw1.className += ' form-control';

            var pw2 = document.getElementById("id_new_password2");
            pw2.className += ' form-control';

        })();
        </script>
        
    {% else %}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h3 style="text-align: center;">Reset Password</h3>
                <br>

                <p>The password reset link was invalid, <br />
                possibly because it has already been used. <br />
                Please request a new password reset link.</p>
                <p><a class="btn btn-success" href="{% url 'profiles:password_reset' %}">Request Another Link</a></p>
            </div>
            <div class="col-md-4"></div>
        </div>
    {% endif %}

{% endblock %}