<!DOCTYPE html>
<html>

<div style="background:white;margin:0px" bgcolor="white">
  <table cellspacing="0" border="0" cellpadding="0" align="center" width="100%" bgcolor="transparent" style="border-collapse:separate;border-spacing:0;font-family:Helvetica,Arial,sans-serif;letter-spacing:0;table-layout:fixed;padding:0px 10%;border: 3px solid #f8f8f8">
    <tbody>
      <tr>
        <td style="font-family:Helvetica,Arial,sans-serif;font-size:16px;padding:60px 0 0">
          <table width="100%" style="border-collapse:separate;border-spacing:0;table-layout:fixed">
            <tbody>
              <tr>
                <td style="font-family:Helvetica,Arial,sans-serif;font-size:16px;padding:0;text-align:center" align="center">

                  <img src="https://ci5.googleusercontent.com/proxy/HfLlN-cKJlGhoVTritXSStytbPnvWuaB9CtCKLwxI9jH40RJzk1V_S3-i8J6VsMxlC-z3-JZI0PMMpJmuyvmjM6uzDSc0pQJiRrXBBQ1DKS7x07tQCKHvG5QBHVvwGoC-nS0gmEbJtOkNjdN=s0-d-e1-ft#https://uploads.intercomcdn.com/i/o/5148315/124343cfb37f72ad3efd6d12/File1459302643304"
                    width="85" height="85" style="padding:0 0 37px" class="CToWUd">

                </td>
              </tr>
            </tbody>
          </table>

          <table width="100%" style="border-collapse:separate;border-spacing:0;table-layout:fixed;padding:0 0 60px">
            <tbody>
              <tr>
                <td style="color:#818181;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.5;; text-align:left;padding-bottom:75px; text-align:center">
                  {% if invitedBy %}
                  <h2 style="color:#208ac2; margin-bottom:0px">
                                        {{ invitedBy }} invites you to First Code Academy.<br><br>
                                    </h2>
                  <p style="font-size:1em">
                    Learn to be a creator using technology at our courses for kids and teens.
                  </p>

                  {% else %}
                  <h2 style="color:#208ac2; margin-bottom:0px">
                                            Thanks for registering with First Code Academy.
                                        </h2> {% endif %} {% if customMessage %}
                  <p>
                    {{ customMessage }}
                  </p>
                  {% endif %}
                  <table border="0" cellpadding="0" cellspacing="0" style="background-color:#208AC2; border:0px solid #353535; border-radius:0px; margin-bottom:10px" align="center">
                    <tr>
                      <td align="center" valign="middle">
                        <a href="{{ inviteLink }} " target="_blank" style="color:#FFFFFF; font-family:Helvetica, Arial, sans-serif; font-size:16px; font-weight:bold; letter-spacing:-.5px; line-height:150%; padding-top:15px; padding-right:30px; padding-bottom:15px; padding-left:30px;text-decoration:none;display:block;">GET STARTED</a>
                      </td>
                    </tr>
                  </table>
                  <table align="center">
                    <tr style="opacity:0.5!important">
                      <span style="font-size:8pt;text-align:center;color:rgb(129, 129, 129);;">
                                                      <p>Doesn't work? Copy/paste this link into your browser: <br> {{ inviteLink }}



                                                      </p>
                                                      </span>
                    </tr>
                  </table>


                  <hr style="border-color:rgba(0,0,0,0.035);border-width:1px; margin:30px;">


                  <img style="max-width:100%" src="http://hk.firstcodeacademy.com/assets/about/press-78beb774a6ac7e5e65c69549854a005956465b3d89c4a859bc4396f1b5c1e73c.jpg">

                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <table cellspacing="0" border="0" cellpadding="0" align="center" width="100%" bgcolor="transparent" style="background:#f8f8f8;border-collapse:separate;border-spacing:0;font-family:Helvetica,Arial,sans-serif;letter-spacing:0;max-width:100%;table-layout:fixed">
    <tbody>
      <tr>
        <td style="font-family:Helvetica,Arial,sans-serif;font-size:16px;padding:26px 30px 22px;text-align:center;width:100%" align="center">

          <h2 style="color:#a8a8a8;font-size:13px;font-weight:bold;text-decoration:none">Follow us</h2>
          <p style="color:#a8a8a8;font-size:13px;font-weight:300;line-height:1.5;margin:27px 0 20px;text-decoration:none">

            <a href="https://www.facebook.com/firstcodeacademy" style="border:none;color:#a8a8a8;font-size:13px;outline:none!important;text-decoration:none" target="_blank"><img alt="Facebook" src="https://ci5.googleusercontent.com/proxy/Sw4CyrfZdH2ipipO5GGNZq541laK-wiLVI-RU2JZTg-g4jqbKW5GFUKX_c6s4y63jcpI3tkHa72T7XnBMTPBMnKxmsRd1AK5MWsMWCsuWvYR3FxE3n_bxqIj5atqKj9RWhF7t9sgkutBpmXtTI2bI2GVA3SaOIkhxCRrNFwzvA=s0-d-e1-ft#https://marketing.intercomassets.com/assets/email/broadcast/facebook-2263526f2b7c7cf3c7c2a066588b01ef.png"
                width="60" class="CToWUd"></a>


            <a href="https://twitter.com/firstcode" style="border:none;color:#a8a8a8;font-size:13px;outline:none!important;text-decoration:none" target="_blank"><img alt="Twitter" src="https://ci6.googleusercontent.com/proxy/sjVAIvWOdBtARaYWoShRNhs0fhniaD20hHhLwlpCLEHOq6vo9yRlrUJZz-A5Pjjy9rWd2V-RvhIOHeO3vnlEGdDBNdtg0ZZ6oh087dXr-KdF7A1ziOzl_e5zRbl_Mf8-QfvbeWyoCRrf7QZsoWH7NoX07CwtPZDDfmCheotY=s0-d-e1-ft#https://marketing.intercomassets.com/assets/email/broadcast/twitter-fe222f8697fa267d095338db3f583c94.png"
                width="60" class="CToWUd"></a>

            <a href="http://blog.firstcodeacademy.com/" style="border:none;color:#a8a8a8;font-size:13px;outline:none!important;text-decoration:none;" target="_blank"><img alt="Twitter" src="https://cdn3.iconfinder.com/data/icons/happily-colored-snlogo/128/medium.png" width="45" class="CToWUd" style="margin:0px 10px"></a>

          </p>


          <span>

                        <a style="margin:0;font-size:10pt;color:#818181;padding-right:3.5%" href="http://www.firstcodeacademy.com">
                            firstcodeacademy.com
                        </a>

                        <a style="margin:0;font-size:10pt;color:#818181;padding:0% 3.5%;border-right:1px solid; border-left:1px solid; " href="http://blog.firstcodeacademy.com/">
                            Our Blog
                        </a>


                        <a style="margin:0;font-size:10pt;color:#818181;padding-left:3.5%" href="mailto:hello@firstcodeacademy.com">E-mail Us</a>

                </span>

          <p style="color:#a8a8a8;font-size:13px;font-weight:300;line-height:1.5;margin:0 0 10px;text-decoration:none; margin:12px;">Unit 302-305, 3/F, Hollywood Centre, 233 Hollywood Road, Sheung Wan, Hong Kong</p>
          <p>
            <a href="%unsubscribe_url%" style="color:#a8a8a8;font-size:13px;font-weight:300;line-height:1.5;margin:0 0 10px;text-decoration:underline;">Unsubscribe</a>
          </p>






        </td>
      </tr>
    </tbody>
  </table>

  <img src="https://ci6.googleusercontent.com/proxy/UavtDIz3ERhwUdzcwUetzuQLfHJH8-3HNINg-rODY6vu6-FeNDN8V-Nb3YlJsKubrG36LNjhGxdoIevk9oupVt-CVBObIkB_SAoEbT3Lpoe2_3zc94oQjvlPrw=s0-d-e1-ft#https://via.intercom.io/o?h=c7dc0bfd5c9c489cf4ef372e153ce3b8576b5468-"
    width="1" height="1" style="display:block" alt="intercom" class="CToWUd">
  <div class="yj6qo"></div>
  <div class="adL"></div>
</div>

</html>