<!DOCTYPE html>
<html>

<div style="background:white;margin:0px" bgcolor="white">

<p>Order Receipt: </p>
<p>Order ID: {{ orderCode }} </p>
<p>Order Total: {{ formatPriceStr }} </p>
<p>Order Date: {{ localizedTransactionDateTime }} </p>


<p>guardian email: {{ guardianObj.email }} </p>
<p>guardian displayName: {{ guardianObj.displayName }} </p>
<p>guardian phone: {{ guardianObj.phoneNumber }} </p>


<p>student email: {{ studentObj.email }} </p>
<p>student displayName: {{ studentObj.displayName }} </p>


<p>Day(s): {{dateStr}} </p>

<p>Class Start Time: {{firstTime}}  </p>
<p>Class End Time: {{lastTime}} </p>

<p>Course Code: {{ orderObj.course_code }} </p>
<p>Course Name: {{ courseObj.name }} </p>
<p>Location: {{formatLocation}} </p>


</div>

</html>